<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events</title>
</head>
<body>
  <h1>All Events!</h1>
  <ul>
    <% for (let event of events) {%>
      <li><a href="/events/<%= event.id %>">Round <%= event.round_number %> - <%= event.name %></a></li>
    <%}%>
  </ul>
</body>
<footer>
  <a href="/events/new">Add a New Event</a>
</footer>
</html>