<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>
<body>
  <h1>Admin Links</h1>
  <ul>
    <li><a href="/events">Event Index</a></li>
    <li><a href="/Venues">Venue Index</a></li>
    <li><a href="/Riders">Rider Index</a></li>
  </ul>

  <ul>
    <li><a href="/events/new">Add a New Event</a></li>
    <li><a href="/Venues/new">Add a New Venue</a></li>
    <li><a href="/Riders/new">Add a New Rider</a></li>
    <li><a href="/Results/new">Add a New Result</a></li>
  </ul>
</body>

</html>